:root{
  --sixty: #FFF6E4;
  --thirty: #383838;
  --ten: #89A8E1;
  --accent: #C37D92;
  --white: #ffffff;
  position: absolute;
}

.logo {
  background-color: var(--thirty);
}

.navbar {
  background-color: var(--thirty);
}

section {
  height: 5vh;
  width: 100vw;
  background-color: var(--thirty);
  text-align: center;
  color: var(--sixty);
  position: sticky;
  top: 0;
}

.content {
  height: 100vh;
  width: 100vw;
  background-color: var(--sixty);
}

.header-text.header-text.header-text.header-text {
  color: var(--ten);
}