:root {
  --sixty: #fffaf1;
  --thirty: #383838;
  --ten: #89a8e1;
  --accent: #c37d92;
  --white: #ffffff;
  position: absolute;
}

* {
  font-family: "Poppins", sans-serif;
}

.logo {
  background-color: var(--thirty);
}

.navbar {
  background-color: var(--thirty);
}

section {
  height: 5em;
  width: 100vw;
  background-color: var(--thirty);
  text-align: center;
  color: var(--sixty);
  position: sticky;
  padding: 1.5em;
}

.content {
  height: 100vh;
  width: 100vw;
  background-color: var(--sixty);
}

.header-text.header-text.header-text.header-text {
  color: var(--ten);
}

#hero {
  height: 75vh;
}

.first-divider {
  top: 0;
  border-bottom: 0.5px solid var(--sixty);
}

.second-divider {
  top: 5em;
  border-bottom: 0.5px solid var(--sixty);
}

.third-divider {
  top: 10em;
  border-bottom: 0.5px solid var(--sixty);
}

.about-me-image img{
  position: absolute;
  left: 5%;
  top: 50vh;
  width: 40%;
  transform: translateY(-50%);
  aspect-ratio: 1.373 / 1;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.right-hero {
  position: absolute;
  left: 50%;
  top: 62vh;
  transform: translateY(-50%);
  width: 45%;
  height: 50vh;
  text-align: center;
}

.right-text {
  width: 100%;
  height: 60%;
  margin-top: 5%;
  color: var(--secondary);
  padding: 5px;
  text-align: left;
}

.right-text p{
  width: 80%;
}

.right-text h1{
  font-size: 3.5rem;
}