:root {
  --sixty: #fff6e4;
  --thirty: #383838;
  --ten: #89a8e1;
  --accent: #c37d92;
  --white: #ffffff;
  position: absolute;
  font-family: 'Poppins', sans-serif;
}

.logo {
  background-color: var(--thirty);
}

.navbar {
  background-color: var(--thirty);
}

section {
  height: 5vh;
  width: 100vw;
  background-color: var(--thirty);
  text-align: center;
  color: var(--sixty);
  position: sticky;
  top: 0;
}

.content {
  height: 100vh;
  width: 100vw;
  background-color: var(--sixty);
}

.header-text.header-text.header-text.header-text {
  color: var(--ten);
  font-family: 'Poppins', sans-serif;
}
